<ion-view title="Log In">

 	<link href="css/loginstyle.css" rel="stylesheet"></link>
	<ion-content ng-controller="LoginCtrl" has-bouncing="false">
		<img src="img/fatesnubw.jpg" alt="backgroundimage" class="backgroundimage">
		<p class="hummingsync">Hummingsync</p>
		<form ng-submit="submitLogin()">
			<div class="row">
        <div class="input-field col s6 username">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="username" style="color: white !important;" ng-model="username">
          <label for="icon_prefix">Username</label>
        </div>
        <div class="input-field col s6 password">
          <i class="material-icons prefix">vpn_key</i>
          <input id="icon_password" type="password" class="validate" name="password" style="color: white !important;" ng-model="password">
          <label for="icon_password">Password</label>
        </div>
      </div>
			<!-- <label class="item item-input username">
			<input type="text" align="middle" placeholder="Username">
			</label>
			<br>
			<label class="item item-input password">
			<input type="password" placeholder="Password">
			</label> -->
			<button class="button button-raised button-assertive ink login-button" ng-click="goToAnime()">log in</button>
		</form>

		<div class="loginerrortitle" ng-show="loginerrorShow">
		Login Error
		</div>
		<br>
		<div class="loginerrormessage" ng-show="loginerrorShow">
		Please double check your login details and ensure you have a stable internet connection.
		</div>
		
	</ion-content>
</ion-view>


<!--  ng-click="openSelectedAnime(anime.anime.id" -->