<ion-view title="Anime">

 	<!-- <link href="css/style.css" rel="stylesheet"></link> -->
	<ion-content class="has-header" delegate-handle="animelistcontent">
		
		<ion-refresher pulling-icon="ion-android-refresh" spinner="android" on-refresh="refresh()"></ion-refresher>
		
		<ion-list>
			<div class="item item-divider">
				Library
				<pre>{{sort}}</pre>
			</div>
			<ion-item class="ink" collection-repeat="anime in animelist | orderBy: sort.order" item-render-buffer="16" ng-click="openSelectedAnime(anime.id,anime.anime.id)">
			<img ng-src="{{anime.anime.cover_image}}" height="142" width="98" class="coverimage">
			<div class="cardinfo">
			<div class="animelisttitle">{{anime.anime.title}}</div>
			<br>
			Watched: {{anime.episodes_watched}}/{{anime.anime.episode_count}}
			<br>
			Rating: {{anime.rating.value*2}}
			<br>
			Status: {{anime.anime.status}}
			<br>
			<!-- {{ anime.id + 5}} -->
			</div>
			</ion-item>
			
		</ion-list>

	</ion-content>
	<!-- <div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
		<a class="btn-floating btn-large blue" ng-click="openSearch()">
			<i class="large material-icons">search</i>
		</a>
	</div> -->
	<button class="button button-positive button-fab button-fab-bottom-right ink icon ion-android-search" ng-click="openSearch()"></button>


	<div id="openmodal" class="modal">
	    <div class="modal-content">
	      <h4 class="modaltext">Downloading data...</h4>
	       <div class="preloader-wrapper medium active">
		    <div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
	    </div>
	</div>


</ion-view>


<!--  ng-click="openSelectedAnime(anime.anime.id" -->