<ion-view title="Anime">

 	<link href="css/style.css" rel="stylesheet"></link>
	<ion-content ng-controller="AnimeCtrl">
	<ion-refresher pulling-icon="ion-android-refresh" spinner="android" on-refresh="refresh"></ion-refresher>
		<div class="list">
			<div class="item item-divider">
				Watching
			</div>
			<ion-item class="card ink" collection-repeat="anime in animelist" item-render-buffer="20" ng-click="openSelectedAnime(anime.id)">
			<img ng-src="{{anime.anime.cover_image}}" height="142" width="98" class="coverimage">
			<div class="cardinfo">
			<div class="animelisttitle">{{anime.anime.title}}</div>
			<br>
			{{anime.anime.id}}
			<br>
			Watched: {{anime.episodes_watched}}/{{anime.anime.episode_count}}
			<br>
			Rating: {{anime.rating.value*2}}
			<br>
			Status: {{anime.anime.status}}
			<br>
			{{ anime.id + 5}}
			</div>
			</ion-item>
		</div>
	</ion-content>
	<button class="button button-positive button-fab button-fab-bottom-right ink icon ion-android-search"></button>
</ion-view>


<!--  ng-click="openSelectedAnime(anime.anime.id" -->