<ion-view title="Edit Entry">
<link href="css/animeeditstyle.css" rel="stylesheet"></link>
  <!-- <div class="modal"> -->

    <!-- Modal header bar -->
    <!-- <ion-header-bar class="bar-dark">
      <button class="button button-icon button-clear icon ion-android-arrow-back" ng-click="closeAnimeEdit()"></button>
      <h1 class="title">Edit Library Entry</h1>
    
    </ion-header-bar>
 -->
    <!-- Modal content area -->
    <ion-content>

      <form action="#">
      <!-- <div class="input-field col s12">
            <select>
              <option value="1">Currently Watching</option>
              <option value="2"> Plan to Watch</option>
              <option value="3">Completed</option>
              <option value="4">On Hold</option>
              <option value="5">Dropped</option>
              <option value="6">Remove from list</option>
            </select>
          </div> -->
          <p>
          <input name="group1" type="radio" id="test1" value="" />
          <label for="test1" style="color: black;">Currently Watching</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test2" />
          <label for="test2" style="color: black;">Plan to Watch</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test3" />
          <label for="test3" style="color: black;">Completed</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test4" />
          <label for="test4" style="color: black;">On Hold</label>
        </p>
        <p>
          <input name="group1" type="radio" id="test5" />
          <label for="test5" style="color: black;">Dropped</label>
        </p>
          <p class="range-field">
            <i class="material-icons prefix">star_rate</i>
          <input type="range" id="test6" min="0" max="10" value="rating" style="padding-left: 20px; padding-right: 20px" />
        </p>
        <label value="test6"></label>
          <div class="switch">
          Private
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
      </div>
          <div class="row">
            <div class="input-field col s12">
              <!-- <i class="material-icons prefix">mode_edit</i> -->
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Notes</label>
            </div>
          </div>
    </form>

      <!-- <form ng-submit="createTask()">
        <div class="cardsubtitle">
          Status
        </div>
        <div class="input-field col s12">
          <select>
            <option value="1">Currently Watching</option>
            <option value="2"> Plan to Watch</option>
            <option value="3">Completed</option>
            <option value="4">On Hold</option>
            <option value="5">Dropped</option>
            <option value="6">Remove from list</option>
          </select>
        </div>
      </label>
        <div class="cardsubtitle">
          Watched
        </div>
      <div class="watchednumber">
        <label class="item item-input">
          <input class="watchednumberinput" type="number" value="{{anime.episodes_watched}}"> 
        </label>
        <div class="episodecount">
           / {{anime.anime.episode_count}} 
          </div>
      </div>

      Rating: 8.14{{anime.rating.value*2}}
      
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="anime.private">
        </label>
        Private
      </div>
      <div class="item item-checkbox">
        <label class="checkbox" ng-model="anime.rewatching">
          <input type="checkbox">
        </label>
        Rewatching
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Notes</label>
            </div>
          </div>
        </form>
      </div>
      <button class="button button-balanced button-fab button-fab-bottom-right icon ion-android-done ink-dark" ng-click=""></button>
      
      </form> -->
      
    </ion-content>

  <!-- </div> -->

</ion-view>