<ion-view title="Edit Entry">
<!-- <link href="css/animeeditstyle.css" rel="stylesheet"></link> -->
    <ion-content>

      <form ng-submit="submitLibraryUpdate()" name="editentryform">
          
        <select ng-model="anime.status">
          <option value="currently-watching">Currently Watching</option>
          <option value="plan-to-watch"> Plan to Watch</option>
          <option value="completed">Completed</option>
          <option value="on-hold">On Hold</option>
          <option value="dropped">Dropped</option>
        </select>

        <!-- <pre> {{anime.status}} </pre> -->
        <div class="input-field col s6 episodes_watchedwhole">
          <input id="episodes_watched" type="number" class="validate episodes_watched" ng-model="anime.episodes_watched" min="0">
          <label for="episodes_watched" data-error="invalid input">Episodes Watched</label>
        </div>

        <div class="input-field col s6 rewatched_countwhole">
          <input id="rewatched_count" type="number" class="validate rewatched_count" ng-model="anime.rewatched_times" min="0">
          <label for="rewatched_count" data-error="invalid input">Rewatched Count</label>
        </div>

        <p class="range-field">
            <i class="material-icons prefix">star_rate</i>
          <input type="range" class="ratingrange" min="0.5" max="5" step="0.5" ng-model="anime.rating.value"/>
        </p>

        <div class="switch">
        <div class="privatelabel">Rewatching</div>
          <label class="privatelever">
            Off
            <input type="checkbox" ng-model="anime.rewatching">
            <span class="lever"></span>
            On
          </label>
        </div>
        <div class="switch">
          <div class="privatelabel">Private</div>
          <label class="privatelever">
            Off
            <input type="checkbox" ng-model="anime.private">
            <span class="lever"></span>
            On
          </label>
        </div>
        <div class="row">
          <div class="input-field col s12 noteswhole">
            <textarea id="textarea1" class="materialize-textarea" ng-model="anime.notes"></textarea>
            <label for="textarea1">Notes</label>
          </div>
        </div>
        <button type="submit" class="button button-block button-flat button-positive">Submit</button>
      </form>

      <div id="sendingmodal" class="modal">
      <div class="modal-content">
        <h4>Sending data...</h4>
         <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      </div>
  </div>
      
    </ion-content>

  <!-- </div> -->

</ion-view>