<ion-view title="{{anime.anime.title}}">

 	<link href="css/animeinfostyle.css" rel="stylesheet"></link>
	<ion-content>
		<div class="parallax-container">
      		<div class="parallax">
      			<img src="{{anime.anime.cover_image}}">
      		</div>
      		<span class="detailtitle">
	            {{anime.anime.title}}
	            <div class="detailalternativetitle">
					{{anime.anime.alternate_title}}
				</div>
	        </span>
    	</div>
		<!-- <img src="{{anime.anime.cover_image}}" class="coverimagemax" ng-click="openImage()"> -->
		<div class="animedetailcontent">
			
			<div class="card">
				<br>
				<div class="cardsubtitle">
					Status
				</div>
				<div class="cardsubdetail">
					Currently Watching
				</div>
				<div class="cardsubtitleright">
					Watched
				</div>
				<div class="cardsubdetailright">
					{{anime.episodes_watched}} / {{anime.anime.episode_count}}
				</div>
				<div class="add-episode-button">
				<button class="button button-clear button-assertive ink" style="font-size: 16px;">+1</button>
				</div>
				<div class="cardsubtitle">
					Rating
				</div>
				<div class="cardsubdetail">
					{{anime.rating.value*2}} / 10
				</div>
				<div class="cardsubtitleright">
					Rewatched Count
				</div>
				<div class="cardsubdetailright">
					{{anime.rewatched_times}}
				</div>
				<div class="card-action">
	              <button class="button button-block button-clear button-assertive ink-dark editentry" ng-click="openAnimeEdit(animeId)">edit entry</button>
	            </div>
            </div>

			<div class="card">
				<div class="cardsubtitle synopsistitle">
					Synopsis
				</div>
				<p class="synopsis">
					{{anime.anime.synopsis}}
				</p>
			</div>
			<div class="list card">
				<div class="cardsubtitle" style="padding-top: 20px;">
					Airing Status
				</div>
				<div class="cardsubdetail">
					{{anime.anime.status}}
				</div>
				<div class="cardsubtitleright">
					Community Rating
				</div>
				<div class="cardsubdetailright">
					{{anime.anime.community_rating*2}} / 10
				</div>
				<div class="cardsubtitle">
					Rating
				</div>
				<div class="cardsubdetail">
					{{anime.anime.age_rating}}
				</div>
				<div class="cardsubtitleright">
					Type
				</div>
				<div class="cardsubdetailright">
					{{anime.anime.show_type}}
				</div>
				<div class="cardsubtitle">
					Started Airing
				</div>
				<div class="cardsubdetail">
					{{anime.anime.started_airing}}
				</div>
				<div class="cardsubtitleright">
					Finished Airing
				</div>
				<div class="cardsubdetailright">
					{{anime.anime.finished_airing}}
				</div>
				<a class="button button-block button-clear button-assertive ink" href="https://youtu.be/2l4u3FEBwPs" target="_blank">watch trailer</a>
			</div>
			<div class="list card">
				<div class="cardsubtitle synopsistitle">
					Reviews
				</div>
				<p class="synopsis">
					A breach between Earth and the netherworlds has opened up over the city of New York, trapping New Yorkers and creatures from other dimensions in an impenetrable bubble. They've lived together for years, in a world of crazy crime sci-fi sensibilities. Now someone is threatening to sever the bubble, and a group of stylish superhumans is working to keep it from happening.
				</p>
			</div>

		</div>
	</ion-content>
</ion-view>

<!-- <div class="row">
	        <div class="col s12 m7">
	          <div class="card">
	            <div class="card-image">
					<img class="responsive-img" src="{{anime.anime.cover_image}}">
	              <span class="card-title">
	              	{{anime.anime.title}}
	              	<div class="detailalternativetitle">
					{{anime.anime.alternate_title}}
					</div>
	              </span>
	              
	            </div>
	            <div class="card-content">
					<br>
					<div class="maincardsubtitle">
						Status
					</div>
					<div class="maincardsubdetail">
						Currently Watching
					</div>
					<div class="maincardsubtitleright">
						Watched
					</div>
					<div class="maincardsubdetailright">
						{{anime.episodes_watched}} / {{anime.anime.episode_count}}
					</div>
					<div class="add-episode-button">
					<button class="button button-clear button-assertive ink" style="font-size: 16px;">+1</button>
					</div>
					<div class="maincardsubtitle">
						Rating
					</div>
					<div class="maincardsubdetail">
						{{anime.rating.value*2}} / 10
					</div>
					<div class="maincardsubtitleright">
						Rewatched Count
					</div>
					<div class="maincardsubdetailright">
						{{anime.rewatched_times}}
					</div>
	            </div>
	            <div class="card-action">
	              <button class="button button-block button-clear button-assertive ink-dark editentry" ng-click="openAnimeEdit(animeId)">edit entry</button>
	            </div>
	          </div>
	        </div>
    	</div> -->

