<ion-view title="{{anime.anime.title}}">

 	<!-- <link href="css/animeinfostyle.css" rel="stylesheet"></link> -->
	<ion-content class="ioncontent">
		<div class="parallax-container">
      		<div class="parallax animated pulse">
      			<img src="{{animedetails.cover_image}}" ng-click="openImage()">
      		</div>
      		<span class="detailtitle animated fadeIn">
	            {{animedetails.title}}
	            <div class="detailalternativetitle">
					{{animedetails.alternate_title}}
				</div>
	        </span>
    	</div>
		<div class="animedetailcontent animate-fade-slide-in-right">
			
			<div class="card animated slideInUp">
				<br>
				<div class="cardsubtitle">
					Status
				</div>
				<div class="cardsubdetail">
					{{anime.status}}
				</div>
				<div class="cardsubtitleright">
					Watched
				</div>
				<div class="cardsubdetailright">
					{{anime.episodes_watched}} / {{anime.anime.episode_count}}
				</div>
				<div class="add-episode-button">
				<button class="button button-clear button-assertive ink" style="font-size: 16px;" ng-click="addEpisodeClicked()">+1</button>
				</div>
				<div class="cardsubtitle">
					Rating
				</div>
				<div class="cardsubdetail">
					{{anime.rating.value*2}} / 10
				</div>
				<div class="cardsubtitleright">
					Rewatched Count
				</div>
				<div class="cardsubdetailright">
					{{anime.rewatched_times}}
				</div>
				<div class="card-action">
	              <button class="button button-block button-clear button-assertive ink-dark editentry" ng-click="openAnimeEdit(animeId)">edit entry</button>
	            </div>
            </div>

			<div class="card animated slideInUp">
				<div class="cardsubtitle synopsistitle">
					Synopsis
				</div>
				<p class="synopsis">
					{{animedetails.synopsis}}
				</p>
			</div>
			<div class="list card animated slideInUp">
				<div class="cardsubtitle" style="padding-top: 20px;">
					Airing Status
				</div>
				<div class="cardsubdetail">
					{{animedetails.status}}
				</div>
				<div class="cardsubtitleright">
					Community Rating
				</div>
				<div class="cardsubdetailright">
					{{community_rating}} / 5
				</div>
				<div class="cardsubtitle">
					Rating
				</div>
				<div class="cardsubdetail">
					{{animedetails.age_rating}}
				</div>
				<div class="cardsubtitleright">
					Type
				</div>
				<div class="cardsubdetailright">
					{{animedetails.show_type}}
				</div>
				<div class="cardsubtitle">
					Started Airing
				</div>
				<div class="cardsubdetail">
					{{animedetails.started_airing}}
				</div>
				<div class="cardsubtitleright">
					Finished Airing
				</div>
				<div class="cardsubdetailright">
					{{animedetails.finished_airing}}
				</div>
				<div class="card-action">
	              <button class="button button-block button-clear button-assertive ink-dark editentry" ng-click="">watch trailer</button>
	            </div>
			</div>
			<div class="list card animated slideInUp">
				<div class="cardsubtitle synopsistitle">
					Reviews
				</div>
				<p class="synopsis">
					A breach between Earth and the netherworlds has opened up over the city of New York, trapping New Yorkers and creatures from other dimensions in an impenetrable bubble. They've lived together for years, in a world of crazy crime sci-fi sensibilities. Now someone is threatening to sever the bubble, and a group of stylish superhumans is working to keep it from happening.
				</p>
			</div>

		</div>

		<div id="sendingmodal" class="modal">
	    <div class="modal-content">
	      <h4>Sending data...</h4>
	       <div class="preloader-wrapper big active">
		    <div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
	    </div>
	</div>


	</ion-content>
</ion-view>

<!-- <div class="row">
	        <div class="col s12 m7">
	          <div class="card">
	            <div class="card-image">
					<img class="responsive-img" src="{{anime.anime.cover_image}}">
	              <span class="card-title">
	              	{{anime.anime.title}}
	              	<div class="detailalternativetitle">
					{{anime.anime.alternate_title}}
					</div>
	              </span>
	              
	            </div>
	            <div class="card-content">
					<br>
					<div class="maincardsubtitle">
						Status
					</div>
					<div class="maincardsubdetail">
						Currently Watching
					</div>
					<div class="maincardsubtitleright">
						Watched
					</div>
					<div class="maincardsubdetailright">
						{{anime.episodes_watched}} / {{anime.anime.episode_count}}
					</div>
					<div class="add-episode-button">
					<button class="button button-clear button-assertive ink" style="font-size: 16px;">+1</button>
					</div>
					<div class="maincardsubtitle">
						Rating
					</div>
					<div class="maincardsubdetail">
						{{anime.rating.value*2}} / 10
					</div>
					<div class="maincardsubtitleright">
						Rewatched Count
					</div>
					<div class="maincardsubdetailright">
						{{anime.rewatched_times}}
					</div>
	            </div>
	            <div class="card-action">
	              <button class="button button-block button-clear button-assertive ink-dark editentry" ng-click="openAnimeEdit(animeId)">edit entry</button>
	            </div>
	          </div>
	        </div>
    	</div> -->

