<ion-view title="{{anime.anime.title}}">

 	<link href="css/animeinfostyle.css" rel="stylesheet"></link>
	<ion-content>
		<!-- <img src="https://static.hummingbird.me/anime/cover_images/000/008/646/thumb/851886b3a3.jpg?1421335818" class="coverimagemax"> -->
		<div class="animedetailcontent">
			<a ng-click="openImage()">
				<img src="{{anime.anime.cover_image}}" height="142" width="98" class="coverimagelarge">
			</a>
			<br>
			<div class="detailtitle">
				{{anime.anime.title}}
				<div class="detailalternativetitle">
				{{anime.anime.alternate_title}}
				</div>
			</div>
			
			<div class="list">
				<div class="card">
				<br>
				<div class="cardsubtitle">
					Status
				</div>
				<div class="cardsubdetail">
					Currently Watching
				</div>
				<div class="cardsubtitleright">
					Watched
				</div>
				<div class="cardsubdetailright">
					{{anime.episodes_watched}} / {{anime.anime.episode_count}}
				</div>
				<div class="add-episode-button">
				<button class="button button-clear button-assertive ink" style="font-size: 16px;">+1</button>
				</div>
				<div class="cardsubtitle">
					Rating
				</div>
				<div class="cardsubdetail">
					{{anime.rating.value*2}} / 10
				</div>
				<div class="cardsubtitleright">
					Rewatched Count
				</div>
				<div class="cardsubdetailright">
					{{anime.rewatched_times}}
				</div>
			<button class="button button-block button-clear button-assertive ink-dark" ng-click="openAnimeEdit(animeId)">edit entry</button>
			</div>
			<div class="card">
				<div class="cardsubtitle synopsistitle">
					Synopsis
				</div>
				<p class="synopsis">
					{{anime.anime.synopsis}}
				</p>
			</div>
			<div class="list card">
				<div class="cardsubtitle" style="padding-top: 20px;">
					Airing Status
				</div>
				<div class="cardsubdetail">
					{{anime.anime.status}}
				</div>
				<div class="cardsubtitleright">
					Community Rating
				</div>
				<div class="cardsubdetailright">
					{{anime.anime.community_rating*2}} / 10
				</div>
				<div class="cardsubtitle">
					Rating
				</div>
				<div class="cardsubdetail">
					{{anime.anime.age_rating}}
				</div>
				<div class="cardsubtitleright">
					Type
				</div>
				<div class="cardsubdetailright">
					{{anime.anime.show_type}}
				</div>
				<div class="cardsubtitle">
					Started Airing
				</div>
				<div class="cardsubdetail">
					{{anime.anime.started_airing}}
				</div>
				<div class="cardsubtitleright">
					Finished Airing
				</div>
				<div class="cardsubdetailright">
					{{anime.anime.finished_airing}}
				</div>
				<a class="button button-block button-clear button-assertive ink" href="https://youtu.be/2l4u3FEBwPs" target="_blank">watch trailer</a>
			</div>
			<div class="list card">
				<div class="cardsubtitle synopsistitle">
					Reviews
				</div>
				<p class="synopsis">
					A breach between Earth and the netherworlds has opened up over the city of New York, trapping New Yorkers and creatures from other dimensions in an impenetrable bubble. They've lived together for years, in a world of crazy crime sci-fi sensibilities. Now someone is threatening to sever the bubble, and a group of stylish superhumans is working to keep it from happening.
				</p>
			</div>

		</div>
	</ion-content>
</ion-view>

<script id="openimage.html" type="text/ng-template">

  <div class="modal" style="background-color: black;">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-dark" style="background: transparent !important;	box-shadow: none;">
      <button class="button button-icon button-clear icon ion-android-close" ng-click="closeImage()" style="color: gray; top: 5px; left: 5px; font-size: 1px !important; height: 1px !important;"></button>
      <h1 class="title">Poster Image</h1>
    
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

    <img src="{{anime.anime.cover_image}}" height="553" width="376" class="coverimageopen" style="margin-top: 15px;">

    </ion-content>

  </div>

</script>