.bar-energized-900{
	background-color: #455A64 !important;
	/*background: transparent !important;*/
	border: none !important;
	border-style: none !important;
	height: 81px;
}
.ion-android-menu {
	visibility: hidden;
	position: relative;
	left: -54px;
}
.button.button-clear.icon.ion-android-more-vertical:before {
	font-size: 24px;
	color: white;
	visibility: visible;
}
.button.button-clear.icon.ion-android-refresh {
	color: #B6B6B6;
}
.button.button-clear.icon.ion-android-funnel.ink {
	visibility: hidden;
}
.right-buttons {
	position: relative;
	top: 30px;
	visibility: visible;
}
.back-button {
	visibility: visible;
	position: relative;
	top: 33px;
	left: 5px;
}
.ion-android-arrow-back:before {
	top: 10px !important;
	font-size: 24px;
	color: white;
	visibility: visible;
}
/*.button-block {
	margin-bottom: 4px !important;
	margin-left: 4px;
	width: 345px !important	;
}*/
.watchednumber {
	margin-left: 10px !important;

}
.item.item-input{
	width: 300px !important;
	margin-right: 0px !important;
	/*padding-right: 0px !important;*/
}
.episodecount {
	left: -100px !important;
}
.title {
	position: absolute;
	left: 50px !important;
	text-align: center;
	/*left: -10px !important; */
	opacity: 1 !important;
	width: 100px;
	top: 31px !important;
}

/*Anime Detail page*/
.animedetailcontent {
	margin-top: -50px;
	background-color: #455A64;
	padding-bottom: 10px;
}

.cardsubtitle {
	margin-left: 16px;
	margin-top: 0px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #414141;
	padding-top: 4px;
}
.cardsubtitleright {
	margin-left: 197px !important;
	margin-top: -44px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #414141;
	padding-top: 4px;
}
.cardsubdetail {
	margin-left: 26px;
}
.cardsubdetailright {
	margin-left: 207px !important;
	margin-top: 0px;

}
/*.button-assertive {
	opacity: 1;
}*/
ion-content {
	margin-top: 56px !important;
}
.notesarea {
	margin-left: 26px !important;
	border: solid;
	border-width: 1px;
	border-color: #455A64;
	width: 300px;
	padding-left: 10px;
	padding-top: 10px;
}

/*Entry editing stuff*/
.privatelabel {
	font-family: 'Roboto-Light','Roboto';
	font-size: 20px;
	position: relative;
	left: 50px;
	bottom: 78px;
}
.privatelever {
	position: relative;
	bottom: 100px;
	left: 200px;
}
.material-icons {
	position: relative;
	top: -60px;
	left: 8px;
}
.ratingrange {
	position: relative;
	top: -94px;
	left: 40px !important;
	padding-right: 50px !important;
}
.episodes_watchedwhole {
	top: 10px;
	left: 30px;
}
.episodes_watched {
	position: relative;
	top: 0px;
	margin-left: 20px !important;
	max-width: 20%;
}
.rewatched_countwhole {
	top: -72px;
	left: 170px;
}
.rewatched_count {
	position: relative;
	top: 0px;
	margin-left: 20px !important;
	max-width: 20%;
}
.noteswhole {
	bottom: 90px;
}
.button-block {
	position: relative;
	top: -110px;
}
.toast{
	position: relative;
	top: -55px !important;
	margin-left: 10px;
	width: auto;
	margin-right: 10px;
}
/*Loading Modal css*/
.modal {
	background-color: #454A44;
	position: relative;
	top: 200px !important;
	margin-top: 20px;
	height: 10px !important;
	max-height: 10% !important;
	min-height: 25% !important;
}
.modaltext {
	font-size: 16px;
	color: white;
	position: relative;
	top: 50px;
	left: 10px !important;
}
.popover-wrapper {
	position: relative;
	top: 75px;
	left: 15px !important;
}
.preloader-wrapper {
	position: relative;
	left: 190px;
	top: 5px;
}
