.bar-energized-900 {
	background-color: none !important;
	background: transparent !important;
	border: none !important;
	border-style: none !important;
	box-shadow: none;
}
.button.button-clear.icon.ion-android-more-vertical {
	color: #B6B6B6;
}
.button.button-clear.icon.ion-android-refresh {
	color: #B6B6B6;
}
.ion-android-arrow-back {
	color: #B6B6B6;
	margin-left: 5px;
}
.button-block {
	margin-bottom: 4px !important;
	margin-left: 4px;
	width: 345px !important	;
}
.watchednumberinput {
	width: 30px;
	margin-left: 10px !important;
	margin-right: 200px !important;
}
.item-input {
	/*margin-left: -100px !important;*/
}