.bar-energized-900 {
	background-color: #455A64 !important;
	background: transparent !important;
	border: none !important;
	border-style: none !important;
	box-shadow: none;
	visibility: hidden;
}
ion-content {
	position: relative;
	top: 1px !important;
}
.ion-android-menu {
	visibility: hidden;
	position: relative;
	left: -54px;
}
.right-buttons {
	position: relative;
	top: 30px;
	visibility: hidden;
}
.button.button-clear.icon.ion-android-funnel.ink {
	visibility: hidden;
}
.button.button-clear.icon.ion-android-more-vertical:before {
	font-size: 24px;
	color: white;
	visibility: hidden;
}
.button.button-clear.icon.ion-android-refresh {
	color: #B6B6B6;
}
.back-button {
	visibility: visible;
	position: relative;
	top: 33px;
	left: 5px;
}
.ion-android-arrow-back:before {
	top: 10px !important;
	font-size: 24px;
	color: white;
	visibility: visible;
}
.button-block {
	margin-bottom: 4px !important;
	margin-left: 4px;
	width: 345px !important	;
}
.parallax-container {
	margin-top: -44px !important;
	height: 500px;
	/*background: #6cab26;*/
	background-image: url({{fullanime.cover_image}}), linear-gradient(to bottom, rgba(200,200,200,0), rgba(10,10,10,0.7)) !important;
}
.watchednumberinput {
	width: 30px;
	margin-left: 10px !important;
	margin-right: 200px !important;
}
.item-input {
	/*margin-left: -100px !important;*/
}
.title {
	opacity: 0 !important;
}

/*Anime Detail page*/
.scroll-content {
	/*background-color: #455A64;*/
}
.animedetailcontent {
	margin-top: -50px;
	background-color: #455A64;
	padding-bottom: 10px;
}
.coverimagemax {
	margin-top: -44px;
	max-width: 100%;
	height: auto;
	/*width: auto\9;*/
}
.coverimagelarge {
	/*height: 142px;*/
	height: 156.2px;
	width: 98px;
	width: 107.8px;
	margin-left: 20px;
	margin-top: 60px;
}

.detailtitle {
	position: relative;
	top: 286px !important;
	left: 34px;
	height: 100px;
	font-size: 24px;
	color: white;
	/*padding-left: 140px;*/
	/*background-color: #455A64;*/
	line-height: 110%;
	max-width: 100%;
	height: auto;
	font-family: 'Roboto-Light', 'Roboto';
	overflow: auto;
}
.detailalternativetitle {
	position: relative;
	top: 10px;
	/*font-weight: bold;*/
	color: #E3E3E3;
	font-size: 14px;
	opacity: 0.6;
	padding-top: 2px;
	/*height: 4px;*/
	line-height: 110%;
	padding-bottom: 10px;
}

/*mains*/
.maincardsubtitle {
	margin-left: 0px;
	margin-top: 0px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #414141;
	padding-top: 4px;
}
.maincardsubtitleright {
	margin-left: 167px !important;
	margin-top: -44px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #414141;
	padding-top: 4px;
}
.maincardsubdetail {
	margin-left: 10px;
}
.maincardsubdetailright {
	margin-left: 177px !important;
	margin-top: 0px;
}
/*sides*/

.cardsubtitle {
	margin-left: 16px;
	margin-top: 0px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #414141;
	padding-top: 4px;
}
.cardsubtitleright {
	margin-left: 197px !important;
	margin-top: -44px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #414141;
	padding-top: 4px;
}
.cardsubdetail {
	margin-left: 26px;
}
.cardsubdetailright {
	margin-left: 207px !important;
	margin-top: 0px;

}
.add-episode-button {
	opacity: 1;
	margin-top: -34px !important;
	margin-left: 260px !important;
}
.button-assertive {
	opacity: 1;
	width: 100%;
	text-align: center;
}
.card {
	position: relative;
	top: -100px;
	max-width: 100%;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}
.card-title {
	line-height: 120%;
}
.card-content {
	margin-top: -20px;
	margin-bottom: 4px;
}
.card-action {
	/*height: 50px;*/
	position: relative;
	margin-top: 25px;
	padding-top: 0px !important;
	padding-bottom: 4px !important;
}
.editentry {
	max-width: 100%;
	/*top: -30px;*/
	/*left: -15px;*/
}
.synopsistitle {
	text-align: center;
	margin-left: -8px;
	margin-top: 10px;
	padding-bottom: 10px;
}
.synopsis {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 10px;
	text-align: center;
}
.button-fab {
	position: relative;
	top: 360px !important;
}
.col.s12.m7 {
	margin-left: -16px;
	margin-right: -20px;
	margin-top: -18px;
	margin-bottom: -30px;
}

div#sendingmodal.modal {
	max-height: 100%;
	height: 100px !important;
}
.toast{
	position: relative;
	top: -55px !important;
	margin-left: 10px;
	width: auto;
	margin-right: 10px;
}
/*Loading Modal css*/
.modal {
	background-color: #454A44;
	position: relative;
	top: 200px !important;
	margin-top: 20px;
	height: 10px !important;
	max-height: 10% !important;
	min-height: 25% !important;
}
.modaltext {
	font-size: 16px;
	color: white;
	position: relative;
	top: 50px;
	left: 10px !important;
}
.popover-wrapper {
	position: relative;
	top: 75px;
	left: 15px !important;
}
.preloader-wrapper {
	position: relative;
	left: 190px;
	top: 5px;
}
/*Hiding the Back button
/*.button.back-button.buttons.button-clear.header-item {
	visibility: hidden;
	opacity: 0;
}*/
