.bar-energized-900 {
	background-color: none !important;
	background: transparent !important;
	border: none !important;
	border-style: none !important;
	/*box-shadow: none;*/
	visibility: hidden;
}


.username {
	/*margin-top: -500px;*/
	/*margin-left: 56px;*/
	width: 260px;
	top: -25px;
	left: 89px;
	/*background-color: white;*/
	text-align: center;
	color: white;
	/*padding-top: 10px !important;*/
}
.password {
	/*background-color: white;*/
	text-align: center !important;
	position: relative;
	top: 50px;
	left: -93px;
	/*margin-left: 56px;*/
	width: 260px;
	color: white;
}
.prefix {
	left: 6px;
	top: 8px;
}
.backgroundimage {
	margin-top: -68px;
	max-width: 100%;
	height: auto;
	background-image: url(../img/fatesnubw.jpg), linear-gradient(to bottom, rgba(200,200,200,0), rgba(10,10,10,0.5)) !important;
}

.button-clear {
	opacity: 0;
}
.title {
	opacity: 0;
}
.login-button {
	opacity: 1;
	margin-top: 50px;
	margin-left: 130px;
}
.hummingsync {
	font-size: 23px;
	color: white;
	margin-left: 112px;
	margin-bottom: 32px;
	margin-top: -530px !important;
}
.button.back-button.buttons.button-clear.header-item {
	visibility: hidden;
	opacity: 0;
}
.ion-android-menu {
	visibility: hidden;
	opacity: 0;
}
.loginerrortitle {
	margin-top: 50px;
	text-align: center;
	color: white;
	font-size: 30px;
}
.loginerrormessage {
	text-align: center;
	padding-left: 10px;
	color: black;
	font-size: 20px;
	line-height: 120%;
}
.toast{
	position: relative;
	top: -55px !important;
	margin-left: 10px;
	width: auto;
	margin-right: 10px;
}
/*Loading Modal css*/
.modal {
	background-color: #454A44;
	position: relative;
	top: -160px !important;
	margin-top: 20px;
	height: 10px !important;
	max-height: 10% !important;
	min-height: 25% !important;
}
.modaltext {
	font-size: 16px;
	color: white;
	position: relative;
	left: 15px !important;
	top: 40px !important;
}
.popover-wrapper {
	position: relative;
	top: 75px;
	left: 15px !important;
}
.preloader-wrapper {
	position: relative;
	left: 180px;
	top: -5px;
}
