.bar-energized-900 {
	background-color: none !important;
	background: transparent !important;
	border: none !important;
	border-style: none !important;
	box-shadow: none;
}
.username {
	/*margin-top: -500px;*/
	/*margin-left: 56px;*/
	width: 260px;
	top: -25px;
	left: 89px;
	/*background-color: white;*/
	text-align: center;
	color: white;
	/*padding-top: 10px !important;*/
}
.password {
	/*background-color: white;*/
	position: relative;
	top: 50px;
	left: -93px;
	/*margin-left: 56px;*/
	width: 260px;
	color: white;
}
.prefix {
	left: 6px;
	top: 8px;
}
.backgroundimage {
	margin-top: -56px;
	height: 676px;
}

.button-clear {
	opacity: 0;
}
.title {
	opacity: 0;
}
.login-button {
	opacity: 1;
	margin-top: 50px;
	margin-left: 130px;
}
.hummingsync {
	font-size: 23px;
	color: white;
	margin-left: 112px;
	margin-bottom: 32px;
	margin-top: -530px !important;
}
.button.back-button.buttons.button-clear.header-item {
	visibility: hidden;
	opacity: 0;
}
.ion-android-menu {
	visibility: hidden;
	opacity: 0;
}

