/* Empty. Add your own CSS if you like */
/*Header bar css*/
.bar-dark {
	height: 81px;
	background-color: #FF5722 !important;
	background-color: #455A64 !important;
	box-shadow: 10px;
	/*visibility: hidden;*/
}
.title {
	padding-top: 5px;
	opacity: 1;
	position: absolute;
	left: 54px !important;
	visibility: hidden;
}
.left-buttons {
	position: relative;
	left: -45px;
	top: 30px;
}
.right-buttons {
	position: relative;
	top: 26px;
	visibility: visible;
	right: 2px;
}
.ion-android-menu{
	font-size: 24px !important;
	margin-left: 16px;
	margin-top: 12px;
	visibility: hidden;
}
.ink-ripple {
	opacity: 1 !important;
}
.query {
	position: relative;
	width: 100%;
	/*top: 6px;*/
	color: white !important;
	margin-left: 100%;
	font-size: 18px !important;
}
.back-button {
	visibility: visible;
	position: relative;
	top: 33px;
	left: 8px;
}
.button.button-clear.icon.ion-android-search:before {
	font-size: 24px;
	margin-top: 10px;
	margin-right: 8px;
}

.button.button-clear.icon.ion-android-more-vertical {
	font-size: 10px;
	margin-right: 1px;
	margin-top: 1px;
}
.button.button-clear.icon.ion-android-refresh.ink:before {
	font-size: 24px;
	padding-top: 20px;
	margin-top: -9px;
	margin-right: -15px;
}
.button.button-clear.icon.ion-android-more-vertical.ink:before {
	font-size: 24px;
	margin-right: 1px;
	margin-top: 8px;
}
.ion-android-arrow-back:before {
	font-size: 24px !important;
	/*margin-left: 16px;*/
	/*padding-top: 16px;*/
}
/*End header bar css*/
.icon.ion-android-add {
	font-size: 20px;
}
.scroll-content {
	overflow: visible !important;
}

.cardinfo {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	display: inline;
	float: left;
	margin-left: 120px;
	margin-top: -127px;
	margin-bottom: 0px;
	padding-right: 10px;
}

.coverimage {
	padding-bottom: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.card.ink.item {
	padding-left: 10px;
	height: 145px !important;
	padding-top: -1000px !important;
	padding-bottom: -1000px !important;
	width: 360px !important;
}
.animelisttitle {
	font-weight: bold;
	font-size: 16px;

}



.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }