/* Empty. Add your own CSS if you like */
/*Header bar css*/
.bar-energized-900 {
	height: 56px;
	background-color: #FF5722 !important;
	box-shadow: 10px;
}
.title {
	padding-top: 7px;
	opacity: 1;
}
.ion-android-menu:before {
	font-size: 24px !important;
	margin-left: 16px;
	margin-top: 12px;
}
.button.button-clear.icon.ion-android-more-vertical {
	font-size: 10px;
	margin-right: 1px;
	margin-top: 1px;
}
.button.button-clear.icon.ion-android-refresh.ink:before {
	font-size: 24px;
	padding-top: 20px;
	margin-top: -9px;
	margin-right: -15px;
}
.button.button-clear.icon.ion-android-more-vertical.ink:before {
	font-size: 24px;
	margin-right: 1px;
	margin-top: 8px;
}
.ion-android-arrow-back:before {
	font-size: 24px !important;
	margin-left: 16px;
	padding-top: 16px;
}
/*End header bar css*/
.icon.ion-android-add {
	font-size: 20px;
}
.scroll-content {
	overflow: visible !important;
}

.cardinfo {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	display: inline;
	float: left;
	margin-left: 120px;
	margin-top: -127px;
	margin-bottom: 0px;
	padding-right: 10px;
}

.coverimage {
	padding-bottom: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.card.ink.item {
	height: 145px !important;
	padding-top: -1000px !important;
	padding-bottom: -1000px !important;
	width: 360px !important;
}
.animelisttitle {
	font-weight: bold;
	font-size: 15px;

}



/*modal css*/
.bar-dark {
	height: 56px;
}

.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }