/* Empty. Add your own CSS if you like */
/*Header bar css*/
.bar-dark {
	height: 56px;
}
.title {
	padding-top: 7px;
}
.button.button-clear.icon.ion-android-menu {
	font-size: 10px;
	margin-left: 10px;
	margin-top: 7px;
}
.button.button-clear.icon.ion-android-more-vertical {
	font-size: 10px;
	margin-right: 1px;
	margin-top: 1px;
}
.button.button-clear.icon.ion-android-refresh.ink {
	margin-right: -5px;
	margin-top: 6px;
}
.button.button-clear.icon.ion-android-more-vertical.ink {
	margin-right: 1px;
	margin-top: 6px;
}
/*End header bar css*/
.icon.ion-android-add {
	font-size: 20px;
}


.cardinfo {
	font-family: sans-serif;
	font-size: 15px;
	display: block;
	float: right;


}

.card.ink.coverimage {
	display: block;
}